.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

// Cores - baseadas em um guia de cores Pokemon da internet

$cor1: #FF0000;
$cor2: #CC0000;
$cor3: #3B4CCA;
$cor4: #FFDE00;
$cor5: #B3A125;


